<div class="c-container-page">
  This is the index view. Here are our books. Nice!
  <br>
  <div class="c-section grid">
    <% @books.each do |book| %>
      <div class="c-card grid__cell 1/4">
        <a href= <%= "books/" + book.id.to_s  %>>
          <%= book.title %>
          <br>
          Monsieur <%= book.author.last_name %>
        </a>
      </div>
    <% end %>
  </div>

</div>
